fastapi==0.119.0
uvicorn==0.37.0
python-multipart==0.0.20
Pillow==10.3.0
numpy==1.26.4
opencv-contrib-python-headless==4.11.0.86
rembg==2.0.67
onnxruntime==1.17.3
mediapipe==0.10.21
scikit-image==0.22.0
